img{
    width: 80%;
}
p{
   
    
}

.pricing-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    max-width: 900px;
}
.card{
    text-align: center;
    padding: 20px;
    margin: 10px; 
}
